@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    background-image: url(mocha-leafs.png) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center {
    display: flex;
    flex-wrap: wrap;
    vertical-align: center;
    justify-content: center;
    font-family: 'Roboto Mono', sans-serif;
}

.info {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 145px;
    margin-top: -55px;
    border: solid 2px #45475A;
    border-radius: 7px;
    transition: border 0.3s;
    background-color: #11111b !important;
    /*backdrop-filter: blur(8px);*/
    /*box-shadow: 0px 0px 5px 1px rgba(132, 135, 143, 1.0);*/
}

.info:hover {
   border-color: #7F849C;
}

#greeting {
    margin-top: -13px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #7f849c;
}

#time {
    margin-top: 15px;
    font-size: 18px;
    color: #cdd6f4;
}

.list_title {
    font-size: 18px;
}

.lists {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    vertical-align: center;
    justify-content: center;
    font-family: 'Roboto Mono', sans-serif;
}

.watch, .social, .dev, .linux, .other {
    display: flex;
    flex-direction: column;
    margin: 2px;
    width: 115px;
    padding: 15px;
    padding-top: 20px;
    /*border: 1px solid white;*/
    border-radius: 7px;
    border: solid 2px #45475A;
    transition: border 0.3s;
    background-color: #11111b !important;
    /*backdrop-filter: blur(8px);*/
    /*box-shadow: 0px 0px 5px 1px rgba(132, 135, 143, 1.0);*/
}

.watch:hover, .social:hover, .dev:hover, .linux:hover, .other:hover {
    border-color: #7F849C;
}

a {
    transition: color 0.3s ease;
}

a:visited, a:link, a:active {
    color: #7f849c;;
    text-decoration: none;
    font-size: 16px;
    text-indent: 2px;
    line-height: 1.6;
}

a:hover {
    color: #cdd6f4;
}

#w,#s,#d,#l,#e {
    color: #cdd6f4;
    margin-top: -5px;
}

#mode {
   filter: invert(100%) sepia(0%) saturate(1620%) hue-rotate(8deg) brightness(94%) contrast(88%)
}

#mode:hover {
    filter: invert(56%) sepia(45%) saturate(6917%) hue-rotate(173deg) brightness(96%) contrast(82%) !important
}
